# Ignore Python cache and virtual environments
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore alle data files (inclusief raw en processed), behalve .gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Ignore environment and OS files
env/
.venv/
.DS_Store

# Ignore VSCode settings
.vscode/

docs/